<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558615938803-b7j2qbk4kvr7l7sltsjqkf538pu3272s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558615938803-b7j2qbk4kvr7l7sltsjqkf538pu3272s</string>
	<key>API_KEY</key>
	<string>AIzaSyBzISBRpjapmBaA65RtUZhR-5YtvnKncKo</string>
	<key>GCM_SENDER_ID</key>
	<string>558615938803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterproject</string>
	<key>PROJECT_ID</key>
	<string>twitterproject-85c12</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterproject-85c12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558615938803:ios:edcadbab1210160092d986</string>
</dict>
</plist>